<div class="w3-container">
  <h2>Uzupełnij dane: </h2>

  <form class="w3-container">
    <p>
      <label>Imię i nazwisko:</label>
      <input [(ngModel)]="nameOfGrave" name="nameOfGrave" class="inputFields" placeholder="Imię i nazwisko">
    </p>
    <p>
      <label>Data urodzenia:</label>
      <input [(ngModel)]="dateOfBirthPicker" name="dateOfBirthPicker" type="date" class="inputFields" placeholder="Data urodzenia">
    </p>
    <p>
      <label>Data śmierci:</label>
      <input [(ngModel)]="dateOfDeathPicker" name="dateOfDeathPicker" type="date" class="inputFields" placeholder="Data smierci">
    </p>
    <p>
      <label>Nazwa cmentarza:</label>
      <input class="inputFields" [(ngModel)]="cemetaryNameInput" name="cemetaryNameInput" placeholder="Nazwa cmentarza">
    </p>
    <p>
      <label>Miasto:</label>
      <input class="inputFields" [(ngModel)]="cityNameInput" name="cityNameInput" placeholder="Miasto">
    </p>
    <p>
      <label for="photo">Zdjecie</label>
      <input type="file" accept="image/*" id="photo" class="inputFields" (change)="onFileChange($event)" #fileInput>
      <button type="button" class="btn-sm btn-default" (click)="clearFile()">Wyczysc wybrany plik</button>
    </p>
    <button class="btn" (click)="add()">Dodaj</button>
  </form>
