.w3-blue {
  color: #fff !important;
  background-color: #2196F3 !important
}

.w3-container {
  content: "";
  display: table;
  clear: both;
  margin: 0 auto;
}

.inputFields {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
}

.btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: #fff !important;
  background-color: #607d8b !important
}
