<form id="filter">
  <label>Wyszukaj w bazie: </label>
  <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}">
</form>

<p [ngStyle]="{color: getColor()}">Grobow w bazie: {{graveList.length}}</p>

<table class="tableData">

  <tr>
    <th>Zdjęcie</th>
    <th>Imię i nazwisko</th>
    <th>Data urodzenia</th>
    <th>Data śmierci</th>
    <th>Nazwa cmentarza</th>
    <th>Miasto</th>
    <th>Akcja</th>
  </tr>

  <tr class="zoomin" *ngFor="let grave of graveList | filter:term; let odd = odd" [ngClass]="{'odd-li': odd, 'last-li': graveList.length===1 }">

    <td><img src={{grave.imageUrl}} alt="Image not found" onerror="this.onerror=null;this.src='../../assets/no_image_available.png';"/></td>
    <td>{{grave.name}}</td>

    <td>{{grave.dateOfBirth}}</td>

    <td>{{grave.dateOfDeath}}</td>

    <td>{{grave.cemetaryName}}</td>

    <td>{{grave.city}}</td>
    <td><button type="button" class="btn btn-danger" (click)="remove(grave)">Usuń</button></td>

  </tr>
</table>
