li {
  background: lightgray;
  margin: 5px;
}

.odd-li {
  background: lavender;
  margin: 5px;
}

.last-li {
  background: pink;
  margin: 5px;
}


.zoomin img {
  height: 80px;
  width: 80px;
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
          transition: all 2s ease;
}
.zoomin img:hover {
  width: 300px;
  height: 300px;
}


.tableData th {

  background-color: #FAFAFA;
  padding: 7px 5px;
  border-bottom-color: #9C9C9C;

}

.tableData {

  border-left: solid 1px #D8C3C3;
  border-top: solid 1px #D8C3C3;

}

.tableData td, .tableData th {
  border-right: solid 1px #D8C3C3;
  border-bottom: solid 1px #D8C3C3;
  text-align: left;
  padding: 5px;
}
