.img_text {
  text-align: center;
  position: absolute;
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-container {
  min-height: 200px;
  background-image: url('../assets/header2.png');
  background-repeat: repeat-x;
  background-size: 400px 400px;
  background-position: center top;
  /*padding: 40px; (If don't want to set min-height or some image content is there) */
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.zoomin img {
  height: 200px;
  width: 200px;
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
          transition: all 2s ease;
}
.zoomin img:hover {
  width: 300px;
  height: 300px;
}


