<div class="img-container">
  <div class="img_text">
    <h1>FIND A GRAVE</h1>
    <p>... or add, just if you want.</p>
  </div>

</div>

<ngb-accordion #acc="ngbAccordion">
  <ngb-panel id="toggle-1" title="Dodaj nowy nagrobek">
    <ng-template ngbPanelContent>

      <div class="containter">
        <app-add-grave></app-add-grave>
      </div>

    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-2" title="Wyszukaj">
    <ng-template ngbPanelContent>

      <div class="container">
        <div>
          <app-view-grave> </app-view-grave>
        </div>
      </div>
      <div class="container">
        <button (click)="save()">Zapisz dane do bazy</button>
      </div>
    </ng-template>
  </ngb-panel>

</ngb-accordion>
<hr />
<app-slider></app-slider>
