<div class="container-slider">
    <ngb-carousel class="slider">
      <ng-template ngbSlide>
        <img class="item" src="../assets/9.jpg" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Cmentarz powązkowski</h3>
          <p>Warszawa</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
          <img class="item" src="../assets/8.jpg" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Cmentarz ewangelicko-augsburski</h3>
            <p>Bydgoszcz</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="item" src="../assets/7.jpg" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Kolumbarium - cmentarz komunalny</h3>
              <p>Bydgoszcz</p>
            </div>
          </ng-template>
    </ngb-carousel>
  </div>
